$mtBlack: #39393A;
$mtYellow: #FFC107;
$mtYellowWithOpacity: #FFC10780;
$mtYellowRGBA: rgba(255, 193, 7, 50);
$mtBlue: #06BCC1;
$mtRed: #F72C25;
$mtGreen: #379634;
$mtWhite: #FFFFFF;
$mtHeaderHeight: 40px;